/** @module Header.pcss
 *  @since 2020.09.17, 20:44
 *  @changed 2020.09.17, 20:44
 */

@import '../constants.pcss';

.CalcTable {
  &-Header {
    min-height: $imgSize;
    padding-left: @calc($imgSize + $imgPadding * 2);
    text-decoration: underline;
  }
}
