/** @module Table.pcss
 *  @desc Table demo component
 *  @since 2020.09.17, 20:39
 *  @changed 2020.09.17, 20:39
 */

@import './constants.pcss';

.Table {
  // @mixin debug;
  position: relative;
  padding: $imgPadding;
}
